body {
    font-family: arial;
    font-size: 100%;
    background-image: url(https://cdn1.vectorstock.com/i/1000x1000/91/00/background-with-dog-paw-print-and-bone-vector-2669100.jpg);
    background-size: cover;
}

#outer {
    width: 960px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #a8a8a8;
    box-shadow: 0px 0px 20px #a8a8a8;
    background-color: aliceblue;
}

h1,
h2 {
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

.info {
    text-align: left;
}

input {
    display: block;
    margin-bottom: 25px;
}

.input_ck {
            display: inline;
            margin-bottom: 25px;
        }        

input[type=submit] {
    margin-top: 25px;
}

.red {
    color: red;
}